Repository espressif/esp-protocols, pull requests merged in 2023-11, with the labels that each got.

#409 fix(mdns): add terminator for the getting host name
  components/mdns/mdns.c
Labels: mdns

#411 bump(mdns): 1.2.1 -> 1.2.2
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#402 feat(console): Added runtime component registration support in console_simple_init
  components/console_simple_init/CMakeLists.txt
  components/console_simple_init/README.md
  components/console_simple_init/console_simple_init.c
  components/console_simple_init/console_simple_init.h
  components/console_simple_init/examples/console_basic/main/console_basic.c
  components/console_simple_init/examples/console_basic/main/idf_component.yml
  components/console_simple_init/linker.lf
Labels: console

#418 fix(common): added 'write' permission for the check action
  .github/workflows/run-host-tests.yml
Labels: modem, websocket

#424 bump(console): 1.0.2 -> 1.1.0
  components/console_simple_init/.cz.yaml
  components/console_simple_init/CHANGELOG.md
  components/console_simple_init/idf_component.yml
Labels: console

#427 mdns: enable CONFIG_ESP_WIFI_ENABLED if CONFIG_SOC_WIFI_SUPPORTED is also enabled (for ESP-IDF <= 5.1)
  components/mdns/mdns.c
Labels: mdns

#413 Added support for implementing user defined modules in standard C-API
  components/esp_modem/CMakeLists.txt
  components/esp_modem/Kconfig
  components/esp_modem/examples/pppos_client/main/Kconfig.projbuild
  components/esp_modem/examples/pppos_client/main/custom_module.hpp
  components/esp_modem/examples/pppos_client/main/pppos_client_main.c
  components/esp_modem/include/cxx_include/esp_modem_dce_factory.hpp
  components/esp_modem/include/cxx_include/esp_modem_types.hpp
  components/esp_modem/include/esp_modem_c_api_types.h
  components/esp_modem/include/generate/esp_modem_command_declare.inc
  components/esp_modem/src/esp_modem_c_api.cpp
  docs/esp_modem/en/README.rst
Labels: modem

#434 fix(modem): Fixed examples to show netif on ppp-changed event
  components/esp_modem/examples/pppos_client/main/pppos_client_main.c
  components/esp_modem/test/target/main/pppd_test.cpp
Labels: modem

#385 feat(console): Added ping command to console component
  .github/workflows/console_cmd_ping__build.yml
  .github/workflows/publish-docs-component.yml
  README.md
  components/console_cmd_ping/.cz.yaml
  components/console_cmd_ping/CMakeLists.txt
  components/console_cmd_ping/LICENSE
  components/console_cmd_ping/README.md
  components/console_cmd_ping/console_ping.c
  components/console_cmd_ping/console_ping.h
  components/console_cmd_ping/examples/ping-basic/CMakeLists.txt
  components/console_cmd_ping/examples/ping-basic/main/CMakeLists.txt
  components/console_cmd_ping/examples/ping-basic/main/idf_component.yml
  components/console_cmd_ping/examples/ping-basic/main/ping-basic.c
  components/console_cmd_ping/examples/ping-basic/pytest_ping_basic.py
  components/console_cmd_ping/idf_component.yml
Labels: console

#442 fix(websocket): fix of return value for `esp_websocket_client_send_with_opcode` API (IDF-8745)
  components/esp_websocket_client/esp_websocket_client.c
Labels: websocket

#443 bump(websocket): 1.2.0 -> 1.2.1
  components/esp_websocket_client/.cz.yaml
  components/esp_websocket_client/CHANGELOG.md
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/idf_component.yml
Labels: websocket

#416 fix(modem): Fixed mode transitions between any state and UNDEF
  components/esp_modem/examples/modem_console/main/modem_console_main.cpp
  components/esp_modem/src/esp_modem_dce.cpp
  components/esp_modem/src/esp_modem_dte.cpp
  components/esp_modem/test/host_test/main/test_modem.cpp
  docs/esp_modem/en/README.rst
Labels: modem

#360 fix(modem): TLS example: Add restore session support in mbedtls wrapper
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/include/mbedtls_wrap.hpp
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/mbedtls_wrap.cpp
Labels: modem

#438 bump(console): First version [1.0.0]
  components/console_cmd_ping/.cz.yaml
  components/console_cmd_ping/CHANGELOG.md
  components/console_cmd_ping/idf_component.yml
Labels: console

#332 Added component: Console for runtime network interface configuration
  .github/workflows/console_cmd_ifconfig__build.yml
  .github/workflows/publish-docs-component.yml
  CONTRIBUTING.md
  README.md
  components/console_cmd_ifconfig/.cz.yaml
  components/console_cmd_ifconfig/CHANGELOG.md
  components/console_cmd_ifconfig/CMakeLists.txt
  components/console_cmd_ifconfig/LICENSE
  components/console_cmd_ifconfig/README.md
  components/console_cmd_ifconfig/console_ifconfig.c
  components/console_cmd_ifconfig/console_ifconfig.h
  components/console_cmd_ifconfig/examples/ifconfig-basic/CMakeLists.txt
  components/console_cmd_ifconfig/examples/ifconfig-basic/main/CMakeLists.txt
  components/console_cmd_ifconfig/examples/ifconfig-basic/main/idf_component.yml
  components/console_cmd_ifconfig/examples/ifconfig-basic/main/ifconfig-basic.c
  components/console_cmd_ifconfig/examples/ifconfig-basic/pytest_ifconfig-basic.py
  components/console_cmd_ifconfig/idf_component.yml
Labels: console
