Repository espressif/esp-protocols, pull requests merged in 2023-06, with the labels that each got.

#278 fix(websocket): esp_websocket_client client allow sending 0 byte packets (IDFGH-9316)
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/include/esp_websocket_client.h
Labels: websocket

#301 fix(mdns): Fix delegated service PTR response (IDFGH-10237)
  components/mdns/mdns.c
Labels: Status: In Progress, mdns

#265 examples: Add simple mqtt client demo running on linux
  .pre-commit-config.yaml
  ci/check_copyright_config.yaml
  common_components/linux_compat/esp_timer/CMakeLists.txt
  common_components/linux_compat/esp_timer/esp_timer_linux.c
  common_components/linux_compat/esp_timer/include/esp_timer.h
  common_components/linux_compat/esp_timer/timer_task.cpp
  common_components/linux_compat/esp_timer/timer_task.hpp
  common_components/linux_compat/freertos/CMakeLists.txt
  common_components/linux_compat/freertos/Kconfig
  common_components/linux_compat/freertos/freertos_linux.c
  common_components/linux_compat/freertos/include/esp_task.h
  common_components/linux_compat/freertos/include/freertos/FreeRTOS.h
  common_components/linux_compat/freertos/include/freertos/event_groups.h
  common_components/linux_compat/freertos/include/freertos/queue.h
  common_components/linux_compat/freertos/include/freertos/semphr.h
  common_components/linux_compat/freertos/include/freertos/task.h
  common_components/linux_compat/freertos/osal/event_group.cpp
  common_components/linux_compat/freertos/osal/mutex.cpp
  common_components/linux_compat/freertos/osal/osal_api.h
  common_components/linux_compat/freertos/osal/queue.cpp
  components/esp_modem/src/esp_modem_term_uart.cpp
  components/mdns/CMakeLists.txt
  components/mdns/tests/host_test/CMakeLists.txt
  components/mdns/tests/host_test/components/freertos/freertos_linux.c
  components/mdns/tests/host_test/components/freertos/queue_unique_ptr.cpp
  components/mdns/tests/host_test/components/freertos/queue_unique_ptr.hpp
  components/mdns/tests/unit_test/pytest_app_mdns.py
  examples/mqtt/CMakeLists.txt
  examples/mqtt/README.md
  examples/mqtt/main/CMakeLists.txt
  examples/mqtt/main/Kconfig.projbuild
  examples/mqtt/main/app_main.cpp
  examples/mqtt/sdkconfig.defaults
Labels: modem, mdns

#311 docs(modem): Add known issues section to docs
  .github/workflows/modem__target-test.yml
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/idf_component.yml
  docs/esp_modem/en/README.rst
Labels: modem

#286 feat(examples): Add multiple netif demo: eth+wifi+PPP
  .github/workflows/examples_build-host-test.yml
  ci/build_apps.py
  ci/ignore_build_warnings.txt
  examples/.build-test-rules.yml
  examples/esp_netif/multiple_netifs/CMakeLists.txt
  examples/esp_netif/multiple_netifs/README.md
  examples/esp_netif/multiple_netifs/main/CMakeLists.txt
  examples/esp_netif/multiple_netifs/main/Kconfig.projbuild
  examples/esp_netif/multiple_netifs/main/check_connection.c
  examples/esp_netif/multiple_netifs/main/ethernet_connect.c
  examples/esp_netif/multiple_netifs/main/idf_component.yml
  examples/esp_netif/multiple_netifs/main/iface_info.h
  examples/esp_netif/multiple_netifs/main/multi_netif_main.c
  examples/esp_netif/multiple_netifs/main/ppp_connect.c
  examples/esp_netif/multiple_netifs/main/ppp_connect.h
  examples/esp_netif/multiple_netifs/main/ppp_connect_esp_modem.c
  examples/esp_netif/multiple_netifs/main/ppp_connect_simple.c
  examples/esp_netif/multiple_netifs/main/wifi_connect.c
  examples/esp_netif/multiple_netifs/sdkconfig.defaults
  examples/mqtt/CMakeLists.txt
  examples/mqtt/sdkconfig.defaults
  examples/mqtt/sdkconfig.defaults.esp32h2
  examples/mqtt/sdkconfig.defaults.linux
Labels: websocket, examples
