Repository espressif/esp-protocols, pull requests merged in 2023-05, with the labels that each got.

#282 docs(common): deploy docs if component version get changed
  .github/workflows/publish-docs-component.yml
  docs/asio/generate_docs
  docs/esp_modem/generate_docs
  docs/esp_mqtt_cxx/generate_docs
  docs/esp_websocket_client/generate_docs
  docs/mdns/generate_docs
Labels: documentation

#292 fix(mdns): Run host test against v5.1 instead of latest IDF
  .github/workflows/mdns__host-tests.yml
Labels: mdns

#297 websocket(ci): Add IDF v5.1 in IDF tests for websockets
  .github/workflows/websocket__build-target-test.yml
Labels: websocket

#295 mdns: Add APIs for looking up self hosted services and getting the self hostname (IDFGH-10130)
  components/mdns/examples/main/mdns_example_main.c
  components/mdns/include/mdns.h
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#296 fix(ci): enable code coverage publishing to github pages
  .github/workflows/modem__build-host-tests.yml
  components/esp_modem/CMakeLists.txt
  components/esp_modem/test/host_test/CMakeLists.txt
  components/esp_modem/test/host_test/main/CMakeLists.txt
Labels: modem

#302 mdns: allow for adding a delegated host with no address (IDFGH-10246)
  components/mdns/mdns.c
Labels: Status: Opened, mdns
