Repository espressif/esp-protocols, pull requests merged in 2023-10, with the labels that each got.

#364 Fix MDNS free host list (IDFGH-11116)
  components/mdns/mdns.c
Labels: Status: In Progress, mdns

#372 feat(common): Added simple component for console initialization
  .github/workflows/console_simple_init__build.yml
  .github/workflows/publish-docs-component.yml
  .pre-commit-config.yaml
  components/console_simple_init/CMakeLists.txt
  components/console_simple_init/LICENSE
  components/console_simple_init/README.md
  components/console_simple_init/console_simple_init.c
  components/console_simple_init/console_simple_init.h
  components/console_simple_init/examples/console_basic/CMakeLists.txt
  components/console_simple_init/examples/console_basic/main/CMakeLists.txt
  components/console_simple_init/examples/console_basic/main/console_basic.c
  components/console_simple_init/examples/console_basic/main/idf_component.yml
  components/console_simple_init/examples/console_basic/pytest_console_basic.py
  components/console_simple_init/idf_component.yml
Labels: console

#381 Fixing deployment of console_simple_init finial
  .github/workflows/publish-docs-component.yml
  components/console_simple_init/.cz.yaml
  components/console_simple_init/CHANGELOG.md
  components/console_simple_init/idf_component.yml
Labels: console

#383 fix(console): Fixed bump version check in publish-docs yml
  .github/workflows/publish-docs-component.yml
  README.md
  components/console_simple_init/.cz.yaml
  components/console_simple_init/CHANGELOG.md
  components/console_simple_init/examples/console_basic/main/console_basic.c
  components/console_simple_init/idf_component.yml
Labels: console

#376 fix(modem): Fix DUAL_MODE regression from cb6e03ac
  components/esp_modem/src/esp_modem_dte.cpp
Labels: modem

#371 feat(websocket): Added new API `esp_websocket_client_append_header` (IDF-7893)
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/examples/linux/main/main.c
  components/esp_websocket_client/include/esp_websocket_client.h
Labels: websocket

#401 fix(websocket): Return status code correctly on esp_websocket_client (IDFGH-11290)
  components/esp_websocket_client/esp_websocket_client.c
Labels: websocket

#391 [esp-modem]: Added USB runner with ESP32S2 with A7670
  .github/workflows/modem__target-test.yml
  components/esp_modem/examples/pppos_client/sdkconfig.ci.usb_a7670_s2
  components/esp_modem/src/esp_modem_dte.cpp
Labels: modem

#405 bump(mqtt_cxx): 0.1.0 -> 0.2.0
  components/esp_mqtt_cxx/.cz.yaml
  components/esp_mqtt_cxx/CHANGELOG.md
  components/esp_mqtt_cxx/idf_component.yml
Labels: mqtt

#373 fix(modem): Fix AT client example to use custom AT processing
  components/esp_modem/src/esp_modem_dte.cpp
Labels: modem

#407 bump(modem): 1.0.3 -> 1.0.4
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/idf_component.yml
Labels: modem

#408 Updates asio docs
  components/asio/examples/async_request/README.md
  docs/asio/en/index.rst
Labels: documentation

#386 Enable ESP_WIFI_CONFIG when ESP-IDF <= 5.1 (IDFGH-11221)
  components/mdns/mdns.c
Labels: mdns
