Repository espressif/esp-protocols, pull requests merged in 2023-09, with the labels that each got.

#349 bump(mdns): 1.2.0 -> 1.2.1
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#359 fix(mqtt_cxx): Removes unused type for configuration
  components/esp_mqtt_cxx/include/esp_mqtt_client_config.hpp
Labels: mqtt

#358 Remove meaningless print
  components/esp_mqtt_cxx/esp_mqtt_cxx.cpp
Labels: mqtt

#361 fix(modem): Update vfs terminal; Removed designated init
  .github/workflows/modem__build-host-tests.yml
  components/esp_modem/include/vfs_resource/vfs_create.hpp
  components/esp_modem/src/esp_modem_netif.cpp
  components/esp_modem/src/esp_modem_term_fs.cpp
Labels: modem

#326 fix(common): removed Wno-format flag and fixed formatting warnings (IDFGH-7768)
  components/asio/CMakeLists.txt
  components/esp_modem/examples/modem_console/main/CMakeLists.txt
  components/esp_modem/examples/modem_console/main/modem_console_main.cpp
  components/esp_modem/examples/modem_console/main/ping_handle.c
  components/esp_modem/examples/modem_psm/main/CMakeLists.txt
  components/esp_modem/examples/modem_tcp_client/main/CMakeLists.txt
  components/esp_modem/examples/modem_tcp_client/main/modem_client.cpp
  components/esp_modem/examples/modem_tcp_client/main/sock_dce.cpp
  components/esp_modem/examples/modem_tcp_client/main/sock_dce.hpp
  components/esp_modem/examples/pppos_client/main/CMakeLists.txt
  components/esp_modem/examples/pppos_client/main/pppos_client_main.c
  components/esp_modem/test/target/main/CMakeLists.txt
  components/esp_modem/test/target/main/pppd_test.cpp
  components/esp_mqtt_cxx/CMakeLists.txt
  components/esp_mqtt_cxx/esp_mqtt_cxx.cpp
  components/esp_mqtt_cxx/examples/ssl/main/CMakeLists.txt
  components/esp_mqtt_cxx/examples/ssl/main/mqtt_ssl_example.cpp
  components/esp_mqtt_cxx/examples/tcp/main/CMakeLists.txt
  components/esp_mqtt_cxx/examples/tcp/main/mqtt_tcp_example.cpp
  components/mdns/CMakeLists.txt
  components/mdns/examples/main/CMakeLists.txt
  components/mdns/examples/main/mdns_example_main.c
  components/mdns/mdns.c
  components/mdns/mdns_networking_socket.c
  components/mdns/private_include/mdns_private.h
  components/mdns/tests/test_apps/main/CMakeLists.txt
  components/mdns/tests/test_apps/main/main.c
Labels: modem, mdns, mqtt, asio, websocket, examples

#365 bump(modem): 1.0.1 -> 1.0.2
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/idf_component.yml
Labels: modem

#367 fix(modem): Add CMUX example to target tests
  .github/workflows/modem__target-test.yml
  README.md
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/examples/simple_cmux_client/pytest_cmux.py
  components/esp_modem/examples/simple_cmux_client/sdkconfig.ci.sim800_cmux
  components/esp_modem/idf_component.yml
  components/esp_modem/src/esp_modem_cmux.cpp
Labels: modem

#355 fix(mdns): remove the range of MDNS_MAX_SERVICES and fix some issues of str-functions
  components/mdns/Kconfig
  components/mdns/mdns.c
Labels: mdns
