Repository espressif/esp-protocols, pull requests merged in 2023-08, with the labels that each got.

#345 fix(common): added idf_component.yml for examples
  components/asio/examples/asio_chat/main/idf_component.yml
  components/asio/examples/async_request/main/idf_component.yml
  components/asio/examples/socks4/main/idf_component.yml
  components/asio/examples/ssl_client_server/main/idf_component.yml
  components/asio/examples/tcp_echo_server/main/idf_component.yml
  components/asio/examples/udp_echo_server/main/idf_component.yml
  components/esp_mqtt_cxx/examples/ssl/main/idf_component.yml
  components/esp_mqtt_cxx/examples/tcp/main/idf_component.yml
  components/esp_websocket_client/examples/target/main/idf_component.yml
  components/mdns/examples/main/idf_component.yml
Labels: mdns, websocket

#343 Fix LoadProhibited after failed CMUX initialization
  .pre-commit-config.yaml
  components/esp_modem/include/cxx_include/esp_modem_dte.hpp
  components/esp_modem/src/esp_modem_dte.cpp
Labels: modem

#347 fix(websocket): fix of websocket coverage report generation
  .github/workflows/run-host-tests.yml
Labels: websocket

#312 fix(modem): Refactor of DTE callbacks (and other fixes)
  components/esp_modem/Kconfig
  components/esp_modem/examples/simple_cmux_client/main/simple_cmux_client_main.cpp
  components/esp_modem/include/cxx_include/esp_modem_dce_factory.hpp
  components/esp_modem/include/cxx_include/esp_modem_dte.hpp
  components/esp_modem/include/cxx_include/esp_modem_netif.hpp
  components/esp_modem/src/esp_modem_dce.cpp
  components/esp_modem/src/esp_modem_dte.cpp
  components/esp_modem/src/esp_modem_netif.cpp
  components/esp_modem/src/esp_modem_uart.cpp
Labels: modem

#346 bump(websocket): 1.0.1 -> 1.1.0
  components/esp_websocket_client/.cz.yaml
  components/esp_websocket_client/CHANGELOG.md
  components/esp_websocket_client/idf_component.yml
Labels: websocket

#309 feat(modem): Support custom transport in AT TCP client example
  .github/workflows/modem__build-host-tests.yml
  components/esp_modem/examples/modem_tcp_client/CMakeLists.txt
  components/esp_modem/examples/modem_tcp_client/README.md
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/CMakeLists.txt
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/README.md
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/include/mbedtls_wrap.hpp
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/include/tcp_transport_mbedtls.h
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/mbedtls_wrap.cpp
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/tls_transport.cpp
  components/esp_modem/examples/modem_tcp_client/main/CMakeLists.txt
  components/esp_modem/examples/modem_tcp_client/main/Kconfig.projbuild
  components/esp_modem/examples/modem_tcp_client/main/modem_client.cpp
  components/esp_modem/examples/modem_tcp_client/main/sock_commands.hpp
  components/esp_modem/examples/modem_tcp_client/main/sock_commands_bg96.cpp
  components/esp_modem/examples/modem_tcp_client/main/sock_commands_sim7600.cpp
  components/esp_modem/examples/modem_tcp_client/main/sock_dce.cpp
  components/esp_modem/examples/modem_tcp_client/main/sock_dce.hpp
  components/esp_modem/examples/modem_tcp_client/main/tcp_transport_at.cpp
  components/esp_modem/examples/modem_tcp_client/main/tcp_transport_at.h
Labels: modem

#336 fix(mdns): fix build issue if CONFIG_ESP_WIFI_ENABLED disabled (IDFGH-9699)
  components/mdns/mdns.c
Labels: mdns
