Repository espressif/esp-protocols, pull requests merged in 2023-04, with the labels that each got.

#267 docs(esp_mqtt_cxx): updated documentation and deployment *yml file
  .github/workflows/publish-docs-component.yml
  README.md
  components/esp_mqtt_cxx/README.md
  docs/esp_mqtt_cxx/en/index.rst
Labels: mqtt

#270 Fix deadly mdns crash (IDFGH-9800)
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#268 mdns: Add APIs to lookup delegated services (IDFGH-9790)
  components/mdns/examples/main/mdns_example_main.c
  components/mdns/include/mdns.h
  components/mdns/mdns.c
Labels: Status: In Progress, mdns

#274 mdns: Build all targets and releases
  .github/workflows/mdns__build-target-test.yml
  .github/workflows/modem__build-host-tests.yml
  .github/workflows/pre_commit_check.yml
  .pre-commit-config.yaml
  ci/build_apps.py
  components/mdns/.build-test-rules.yml
  components/mdns/tests/unit_test/sdkconfig.ci
Labels: mqtt, websocket

#283 fix(esp_modem): fix esp_modem build issue
  components/esp_modem/include/generate/esp_modem_command_declare.inc
  components/esp_modem/include/generate/esp_modem_command_declare_helper.inc
  docs/esp_modem/generate_docs
Labels: modem

#288 bump(mdns): 1.0.9 -> 1.1.0
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns
