Repository espressif/esp-protocols, pull requests merged in 2023-07, with the labels that each got.

#315 feat(mdns): add an API for setting address to a delegated host
  components/mdns/include/mdns.h
  components/mdns/mdns.c
  components/mdns/private_include/mdns_private.h
Labels: mdns

#321 bump(mdns): 1.1.0 -> 1.2.0
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#324 feat(mdns): Allow setting length of mDNS action queue in menuconfig
  components/mdns/Kconfig
  components/mdns/private_include/mdns_private.h
  components/mdns/tests/test_afl_fuzz_host/sdkconfig.h
Labels: mdns

#325 docs(modem): Update Doxyfile to generate correct docs links
  docs/esp_modem/Doxyfile
Labels: documentation

#330 bump(websocket): 1.0.0 -> 1.0.1
  components/esp_websocket_client/.cz.yaml
  components/esp_websocket_client/CHANGELOG.md
  components/esp_websocket_client/idf_component.yml
Labels: websocket

#310 feat(websocket): Added linux port for websocket (IDF-7097)
  .github/workflows/modem__build-host-tests.yml
  .github/workflows/publish-coverage-report.yml
  .github/workflows/run-host-tests.yml
  .github/workflows/websocket__build-host-tests.yml
  .github/workflows/websocket__build-target-test.yml
  components/esp_websocket_client/CMakeLists.txt
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/examples/linux/CMakeLists.txt
  components/esp_websocket_client/examples/linux/main/CMakeLists.txt
  components/esp_websocket_client/examples/linux/main/Kconfig.projbuild
  components/esp_websocket_client/examples/linux/main/main.c
  components/esp_websocket_client/examples/linux/sdkconfig.ci.coverage
  components/esp_websocket_client/examples/linux/sdkconfig.ci.linux
  components/esp_websocket_client/examples/target/CMakeLists.txt
  components/esp_websocket_client/examples/target/README.md
  components/esp_websocket_client/examples/target/main/CMakeLists.txt
  components/esp_websocket_client/examples/target/main/Kconfig.projbuild
  components/esp_websocket_client/examples/target/main/websocket_example.c
  components/esp_websocket_client/examples/target/pytest_websocket.py
  components/esp_websocket_client/examples/target/sdkconfig.ci
Labels: websocket
