Repository espressif/esp-protocols, pull requests merged in 2023-03, with the labels that each got.

#239 Add homepage URL and License to all components (IDFGH-9521)
  components/asio/LICENSE
  components/asio/idf_component.yml
  components/esp_mqtt_cxx/LICENSE
  components/esp_websocket_client/idf_component.yml
  components/mdns/LICENSE
  components/mdns/idf_component.yml
Labels: Status: Opened

#249 mdns: Bump config to auto-generate change log
  .github/workflows/asio__build-target-test.yml
  .github/workflows/mdns__build-target-test.yml
  .github/workflows/mdns__host-tests.yml
  .github/workflows/modem__build-host-tests.yml
  .github/workflows/modem__target-test.yml
  .github/workflows/mqtt_cxx__build.yml
  .github/workflows/websocket__build-target-test.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  ci/changelog.py
  components/esp_modem/examples/ap_to_pppos/main/ap_to_pppos.c
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: modem

#254 MQTT: complete client authentication configuration (IDFGH-9656)
  components/esp_mqtt_cxx/esp_mqtt_cxx.cpp
Labels: Status: Opened, mqtt

#257 fix(mdns): Fix memory issues reported by valgrind
  components/mdns/CMakeLists.txt
  components/mdns/mdns.c
  components/mdns/tests/host_test/CMakeLists.txt
  components/mdns/tests/host_test/components/esp_event/CMakeLists.txt
  components/mdns/tests/host_test/components/esp_event/esp_event_mock.c
  components/mdns/tests/host_test/components/esp_event/include/esp_event.h
  components/mdns/tests/host_test/components/esp_event/include/esp_event_base.h
  components/mdns/tests/host_test/components/esp_netif_linux/CMakeLists.txt
  components/mdns/tests/host_test/components/esp_netif_linux/esp_netif_linux.c
  components/mdns/tests/host_test/components/esp_timer_linux/CMakeLists.txt
  components/mdns/tests/host_test/components/esp_timer_linux/include/esp_timer.h
Labels: mdns

#251 mdns: append all ipv6 address in mdns answer (IDFGH-9646)
  components/mdns/mdns.c
  components/mdns/private_include/mdns_private.h
  components/mdns/tests/host_test/components/esp_netif_linux/esp_netif_linux.c
Labels: Status: In Progress, mdns

#256 docs: Improving documentation (IDF-7064)
  .flake8
  .github/workflows/publish-docs-component.yml
  README.md
  ci/check_copyright_config.yaml
  components/esp_modem/docs/generate_docs
  docs/asio/Doxyfile
  docs/asio/conf_common.py
  docs/asio/en/conf.py
  docs/asio/en/index.rst
  docs/asio/generate_docs
  docs/asio/zh_CN/conf.py
  docs/asio/zh_CN/index.rst
  docs/esp_modem/CMux_collaboration.png
  docs/esp_modem/DCE_DTE_collaboration.png
  docs/esp_modem/Doxyfile
  docs/esp_modem/README.md
  docs/esp_modem/conf.py
  docs/esp_modem/conf_common.py
  docs/esp_modem/en/advanced_api.rst
  docs/esp_modem/en/api_docs.rst
  docs/esp_modem/en/conf.py
  docs/esp_modem/en/cxx_api_docs.rst
  docs/esp_modem/en/index.rst
  docs/esp_modem/en/internal_design.md
  docs/esp_modem/en/internal_docs.rst
  docs/esp_modem/generate_docs
  docs/esp_mqtt_cxx/Doxyfile
  docs/esp_mqtt_cxx/conf_common.py
  docs/esp_mqtt_cxx/doxygen-known-warnings.txt
  docs/esp_mqtt_cxx/en/conf.py
  docs/esp_mqtt_cxx/en/index.rst
  docs/esp_mqtt_cxx/generate_docs
  docs/esp_websocket_client/Doxyfile
  docs/esp_websocket_client/conf_common.py
  docs/esp_websocket_client/en/conf.py
  docs/esp_websocket_client/en/index.rst
  docs/esp_websocket_client/generate_docs
  docs/generate_docs
  docs/mdns/Doxyfile
  docs/mdns/conf_common.py
  docs/mdns/en/conf.py
  docs/mdns/en/index.rst
  docs/mdns/generate_docs
  docs/mdns/zh_CN/conf.py
  docs/mdns/zh_CN/index.rst
  docs/utils.sh
Labels: documentation
