Repository espressif/esp-protocols, pull requests merged in 2023-12, with the labels that each got.

#446 fix(modem): Fixed inconsistent state on data after OK
  components/esp_modem/src/esp_modem_dte.cpp
Labels: modem

#447 fix(modem): Added test injecting unexpected replies
  components/esp_modem/test/host_test/main/test_modem.cpp
Labels: modem

#451 bump(modem): 1.0.4 -> 1.0.5
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/idf_component.yml
Labels: modem

#456 fix(modem): Fixed set_pdp_context() command timeout
  components/esp_modem/include/cxx_include/esp_modem_command_library.hpp
  components/esp_modem/include/cxx_include/esp_modem_dce_module.hpp
  components/esp_modem/src/esp_modem_command_library.cpp
  components/esp_modem/src/esp_modem_modules.cpp
Labels: modem

#461 fix: continuation after FIN in websocket client (#460) (IDFGH-11761)
  components/esp_websocket_client/esp_websocket_client.c
Labels: Status: Opened, websocket

#453 feat(console): Console for runtime wifi configuration
  .github/workflows/console_cmd_wifi__build.yml
  .github/workflows/publish-docs-component.yml
  components/console_cmd_ifconfig/console_ifconfig.c
  components/console_cmd_wifi/.cz.yaml
  components/console_cmd_wifi/CHANGELOG.md
  components/console_cmd_wifi/CMakeLists.txt
  components/console_cmd_wifi/README.md
  components/console_cmd_wifi/console_wifi.c
  components/console_cmd_wifi/console_wifi.h
  components/console_cmd_wifi/examples/wifi-basic/CMakeLists.txt
  components/console_cmd_wifi/examples/wifi-basic/main/CMakeLists.txt
  components/console_cmd_wifi/examples/wifi-basic/main/idf_component.yml
  components/console_cmd_wifi/examples/wifi-basic/main/wifi-basic.c
  components/console_cmd_wifi/examples/wifi-basic/pytest_wifi-basic.py
  components/console_cmd_wifi/idf_component.yml
Labels: console
