Repository espressif/esp-protocols, pull requests merged in 2024-11, with the labels that each got.

#686 fix(websocket): fix example buffer leak
  components/esp_websocket_client/examples/target/main/websocket_example.c
Labels: websocket

#612 [modem]: Add support for guessing mode
  components/esp_modem/examples/modem_console/main/modem_console_main.cpp
  components/esp_modem/include/cxx_include/esp_modem_dce.hpp
  components/esp_modem/include/cxx_include/esp_modem_dte.hpp
  components/esp_modem/include/cxx_include/esp_modem_types.hpp
  components/esp_modem/src/esp_modem_dce.cpp
  components/esp_modem/src/esp_modem_dte.cpp
  components/esp_modem/src/esp_modem_netif.cpp
Labels: modem

#688 [modem]: bump: 1.1.0 -> 1.2.0
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/idf_component.yml
  docs/esp_modem/en/README.rst
Labels: modem

#693 feat(mdns): support update subtype (IDFGH-14068)
  components/mdns/include/mdns.h
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#696 [mdns]: Bump to v1.4.2
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#698 [modem]: Support for URC handler in C-API -> v1.2.1
  .github/workflows/modem__build-host-tests.yml
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/examples/ap_to_pppos/README.md
  components/esp_modem/examples/linux_modem/README.md
  components/esp_modem/examples/modem_console/README.md
  components/esp_modem/examples/modem_console/main/Kconfig.projbuild
  components/esp_modem/examples/modem_psm/main/Kconfig.projbuild
  components/esp_modem/examples/modem_tcp_client/README.md
  components/esp_modem/examples/modem_tcp_client/main/Kconfig.projbuild
  components/esp_modem/examples/pppos_client/README.md
  components/esp_modem/examples/pppos_client/main/Kconfig.projbuild
  components/esp_modem/examples/simple_cmux_client/README.md
  components/esp_modem/examples/simple_cmux_client/main/Kconfig.projbuild
  components/esp_modem/idf_component.yml
  components/esp_modem/include/esp_modem_c_api_types.h
  components/esp_modem/include/esp_private/c_api_wrapper.hpp
  components/esp_modem/src/esp_modem_c_api.cpp
  components/esp_modem/src/esp_modem_uart.cpp
  components/esp_modem/test/target/main/Kconfig.projbuild
Labels: modem

#502 feat(console): Added component with mqtt command
  .github/workflows/console_cmd_mqtt__build.yml
  .github/workflows/publish-docs-component.yml
  components/console_cmd_mqtt/.cz.yaml
  components/console_cmd_mqtt/CHANGELOG.md
  components/console_cmd_mqtt/CMakeLists.txt
  components/console_cmd_mqtt/Kconfig.projbuild
  components/console_cmd_mqtt/README.md
  components/console_cmd_mqtt/console_mqtt.c
  components/console_cmd_mqtt/console_mqtt.h
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/CMakeLists.txt
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/README.md
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/certs/client.crt
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/certs/client.key
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/certs/mosquitto.org.pem
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/main/CMakeLists.txt
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/main/idf_component.yml
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/main/mqtt_ssl_auth_console.c
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/pytest_mqtt_ssl_auth_console.py
  components/console_cmd_mqtt/examples/mqtt_ssl_auth_console/sdkconfig.defaults
  components/console_cmd_mqtt/idf_component.yml
Labels: console
