Repository espressif/esp-protocols, pull requests merged in 2024-04, with the labels that each got.

#516 New component `esp_wifi_remote`
  .github/workflows/wifi_remote__build.yml
  .pre-commit-config.yaml
  ci/changelog.py
  ci/ignore_astyle.txt
  components/esp_wifi_remote/.cz.yaml
  components/esp_wifi_remote/CHANGELOG.md
  components/esp_wifi_remote/CMakeLists.txt
  components/esp_wifi_remote/Kconfig
  components/esp_wifi_remote/Kconfig.soc_wifi_caps.in
  components/esp_wifi_remote/LICENSE
  components/esp_wifi_remote/README.md
  components/esp_wifi_remote/esp_wifi_remote.c
  components/esp_wifi_remote/esp_wifi_remote_net.c
  components/esp_wifi_remote/esp_wifi_remote_weak.c
  components/esp_wifi_remote/esp_wifi_with_remote.c
  components/esp_wifi_remote/idf_component.yml
  components/esp_wifi_remote/include/esp_wifi_remote.h
  components/esp_wifi_remote/include/esp_wifi_remote_api.h
  components/esp_wifi_remote/include/esp_wifi_remote_with_hosted.h
  components/esp_wifi_remote/include/esp_wifi_types_native.h
  components/esp_wifi_remote/scripts/Kconfig
  components/esp_wifi_remote/scripts/README.md
  components/esp_wifi_remote/scripts/copyright_header.h
  components/esp_wifi_remote/scripts/generate_and_check.py
  components/esp_wifi_remote/scripts/ignore_extensions.h
  components/esp_wifi_remote/test/smoke_test/CMakeLists.txt
  components/esp_wifi_remote/test/smoke_test/README.md
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/CMakeLists.txt
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/Kconfig
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/esp_hosted_mock.c
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/idf_component.yml
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/include/esp_hosted_api.h
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/include/esp_hosted_mock.h
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/include/esp_hosted_wifi_api.h
  components/esp_wifi_remote/test/smoke_test/main/CMakeLists.txt
  components/esp_wifi_remote/test/smoke_test/main/all_wifi_calls.c
  components/esp_wifi_remote/test/smoke_test/main/all_wifi_remote_calls.c
  components/esp_wifi_remote/test/smoke_test/main/idf_component.yml
  components/esp_wifi_remote/test/smoke_test/main/smoke_test.c
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32c2
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32c3
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32c6
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32s2
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32s3
Labels: wifi_remote

#537 fix(eppp): Fixed default config designated init issue in C++
  components/eppp_link/include/eppp_link.h
Labels: eppp

#543 fix(wifi_remote): Publish missing esp_wifi_remote and add to README
  .github/workflows/publish-docs-component.yml
  README.md
Labels: wifi_remote

#522 mdns add browse support (IDFGH-12512)
  components/mdns/include/mdns.h
  components/mdns/mdns.c
  components/mdns/private_include/mdns_private.h
Labels: Status: Opened, mdns

#549 bump(mdns): 1.2.5 -> 1.3.0
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#540 fix(modem): Fixed UART task to check for buffered data periodically
  components/esp_modem/src/esp_modem_uart.cpp
Labels: modem

#509 fix(tls_cxx): Publish mbedtls-cxx component
  .github/workflows/publish-docs-component.yml
  .github/workflows/tls_cxx__build.yml
  .pre-commit-config.yaml
  README.md
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/CMakeLists.txt
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/tls_transport.cpp
  components/esp_modem/examples/modem_tcp_client/main/idf_component.yml
  components/esp_modem/test/target_ota/CMakeLists.txt
  components/esp_modem/test/target_ota/components/manual_ota/CMakeLists.txt
  components/esp_modem/test/target_ota/components/manual_ota/transport_batch_tls.cpp
  components/mbedtls_cxx/.cz.yaml
  components/mbedtls_cxx/CHANGELOG.md
  components/mbedtls_cxx/CMakeLists.txt
  components/mbedtls_cxx/README.md
  components/mbedtls_cxx/examples/test_certs/CMakeLists.txt
  components/mbedtls_cxx/examples/test_certs/README.md
  components/mbedtls_cxx/examples/test_certs/ca.crt
  components/mbedtls_cxx/examples/test_certs/client.crt
  components/mbedtls_cxx/examples/test_certs/client.key
  components/mbedtls_cxx/examples/test_certs/idf_component.yml
  components/mbedtls_cxx/examples/test_certs/srv.crt
  components/mbedtls_cxx/examples/test_certs/srv.key
  components/mbedtls_cxx/examples/test_certs/test_certs.hpp
  components/mbedtls_cxx/examples/tls_client/CMakeLists.txt
  components/mbedtls_cxx/examples/tls_client/README.md
  components/mbedtls_cxx/examples/tls_client/main/CMakeLists.txt
  components/mbedtls_cxx/examples/tls_client/main/idf_component.yml
  components/mbedtls_cxx/examples/tls_client/main/tls_client.cpp
  components/mbedtls_cxx/examples/tls_client/sdkconfig.defaults
  components/mbedtls_cxx/examples/udp_mutual_auth/CMakeLists.txt
  components/mbedtls_cxx/examples/udp_mutual_auth/README.md
  components/mbedtls_cxx/examples/udp_mutual_auth/main/CMakeLists.txt
  components/mbedtls_cxx/examples/udp_mutual_auth/main/idf_component.yml
  components/mbedtls_cxx/examples/udp_mutual_auth/main/udp_mutual.cpp
  components/mbedtls_cxx/examples/udp_mutual_auth/sdkconfig.defaults
  components/mbedtls_cxx/idf_component.yml
  components/mbedtls_cxx/include/mbedtls_wrap.hpp
  components/mbedtls_cxx/mbedtls_wrap.cpp
  components/mbedtls_cxx/tests/uart_mutual_auth/CMakeLists.txt
  components/mbedtls_cxx/tests/uart_mutual_auth/README.md
  components/mbedtls_cxx/tests/uart_mutual_auth/main/CMakeLists.txt
  components/mbedtls_cxx/tests/uart_mutual_auth/main/Kconfig.projbuild
  components/mbedtls_cxx/tests/uart_mutual_auth/main/idf_component.yml
  components/mbedtls_cxx/tests/uart_mutual_auth/main/uart_mutual.cpp
  components/mbedtls_cxx/tests/uart_mutual_auth/sdkconfig.ci.dtls
  components/mbedtls_cxx/tests/uart_mutual_auth/sdkconfig.ci.tls
  components/mbedtls_cxx/tests/uart_mutual_auth/sdkconfig.defaults
Labels: tls_cxx

#538 [wifi remote]: Add example without `esp_hosted`
  .github/workflows/wifi_remote__build.yml
  components/esp_wifi_remote/.cz.yaml
  components/esp_wifi_remote/CHANGELOG.md
  components/esp_wifi_remote/CMakeLists.txt
  components/esp_wifi_remote/Kconfig
  components/esp_wifi_remote/Kconfig.rpc.in
  components/esp_wifi_remote/Kconfig.soc_wifi_caps.in
  components/esp_wifi_remote/eppp/eppp_init.c
  components/esp_wifi_remote/eppp/wifi_remote_rpc_client.cpp
  components/esp_wifi_remote/eppp/wifi_remote_rpc_impl.hpp
  components/esp_wifi_remote/eppp/wifi_remote_rpc_params.h
  components/esp_wifi_remote/eppp/wifi_remote_rpc_server.cpp
  components/esp_wifi_remote/esp_wifi_remote_weak.c
  components/esp_wifi_remote/esp_wifi_with_remote.c
  components/esp_wifi_remote/examples/mqtt/CMakeLists.txt
  components/esp_wifi_remote/examples/mqtt/README.md
  components/esp_wifi_remote/examples/mqtt/main/CMakeLists.txt
  components/esp_wifi_remote/examples/mqtt/main/Kconfig.projbuild
  components/esp_wifi_remote/examples/mqtt/main/app_main.c
  components/esp_wifi_remote/examples/mqtt/main/idf_component.yml
  components/esp_wifi_remote/examples/mqtt/sdkconfig.ci.p4
  components/esp_wifi_remote/examples/mqtt/sdkconfig.defaults
  components/esp_wifi_remote/examples/server/CMakeLists.txt
  components/esp_wifi_remote/examples/server/README.md
  components/esp_wifi_remote/examples/server/main/CMakeLists.txt
  components/esp_wifi_remote/examples/server/main/idf_component.yml
  components/esp_wifi_remote/examples/server/main/station_example_main.c
  components/esp_wifi_remote/examples/server/sdkconfig.ci.c6
  components/esp_wifi_remote/examples/server/sdkconfig.defaults
  components/esp_wifi_remote/examples/test_certs/generate_test_certs.sh
  components/esp_wifi_remote/idf_component.yml
  components/esp_wifi_remote/include/esp_wifi_remote_api.h
  components/esp_wifi_remote/scripts/generate_and_check.py
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/Kconfig
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/esp_hosted_mock.c
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/include/esp_hosted_mock.h
  components/esp_wifi_remote/test/smoke_test/main/all_wifi_calls.c
  components/esp_wifi_remote/test/smoke_test/main/all_wifi_remote_calls.c
  components/esp_wifi_remote/test/smoke_test/main/idf_component.yml
  components/esp_wifi_remote/test/smoke_test/sdkconfig.defaults
  components/esp_wifi_remote/wifi_apps/roaming_app/src/Kconfig.roaming
Labels: wifi_remote

#557 Adds missing configuration fields
  components/esp_mqtt_cxx/esp_mqtt_cxx.cpp
Labels: mqtt
