Repository espressif/esp-protocols, pull requests merged in 2024-10, with the labels that each got.

#610 [mosq]: Added TLS transport to mosquitto port
  .github/workflows/mosq__build.yml
  .github/workflows/publish-docs-component.yml
  README.md
  ci/check_copyright_config.yaml
  components/mosquitto/.cz.yaml
  components/mosquitto/CHANGELOG.md
  components/mosquitto/CMakeLists.txt
  components/mosquitto/README.md
  components/mosquitto/api.md
  components/mosquitto/examples/broker/README.md
  components/mosquitto/examples/broker/main/CMakeLists.txt
  components/mosquitto/examples/broker/main/Kconfig.projbuild
  components/mosquitto/examples/broker/main/cacert.pem
  components/mosquitto/examples/broker/main/example_broker.c
  components/mosquitto/examples/broker/main/servercert.pem
  components/mosquitto/examples/broker/main/serverkey.pem
  components/mosquitto/port/broker.c
  components/mosquitto/port/include/mosq_broker.h
  components/mosquitto/port/net__esp_tls.c
Labels: mosquitto

#672 [mosquitto]: Fix incorrect link to the component url
  components/mosquitto/idf_component.yml
Labels: mosquitto

#676 [mdns]: Prevent deadlock when deleting a browse request (IDFGH-13947)
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#661 [mdns]: send PTR query for mdns browse when interface is ready (IDFGH-13841)
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#683 fix(websocket): use proper interface to delete semaphore
  components/esp_websocket_client/esp_websocket_client.c
Labels: websocket

#684 [websocket]: Prevent crash on network disconnect during send
  components/esp_websocket_client/.cz.yaml
  components/esp_websocket_client/CHANGELOG.md
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/idf_component.yml
Labels: websocket
