Repository espressif/esp-protocols, pull requests merged in 2024-01, with the labels that each got.

#467 fix(console): Fixed license file for console_cmd_wifi
  README.md
  components/console_cmd_wifi/.cz.yaml
  components/console_cmd_wifi/CHANGELOG.md
  components/console_cmd_wifi/LICENSE
  components/console_cmd_wifi/idf_component.yml
Labels: console

#363 feat(modem): Add OTA test to exercise modem layers
  .github/workflows/modem__build-host-tests.yml
  components/esp_modem/.build-test-rules.yml
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/include/mbedtls_wrap.hpp
  components/esp_modem/examples/modem_tcp_client/components/extra_tcp_transports/mbedtls_wrap.cpp
  components/esp_modem/include/vfs_resource/vfs_create.hpp
  components/esp_modem/test/target_ota/CMakeLists.txt
  components/esp_modem/test/target_ota/README.md
  components/esp_modem/test/target_ota/bin/blink.bin
  components/esp_modem/test/target_ota/components/manual_ota/CMakeLists.txt
  components/esp_modem/test/target_ota/components/manual_ota/manual_ota.cpp
  components/esp_modem/test/target_ota/components/manual_ota/manual_ota.hpp
  components/esp_modem/test/target_ota/components/manual_ota/transport_batch_tls.cpp
  components/esp_modem/test/target_ota/components/manual_ota/transport_batch_tls.hpp
  components/esp_modem/test/target_ota/http_server.py
  components/esp_modem/test/target_ota/main/CMakeLists.txt
  components/esp_modem/test/target_ota/main/Kconfig.projbuild
  components/esp_modem/test/target_ota/main/network_dce.hpp
  components/esp_modem/test/target_ota/main/ota_test.cpp
  components/esp_modem/test/target_ota/sdkconfig.ci.1
  components/esp_modem/test/target_ota/sdkconfig.ci.2
  components/esp_modem/test/target_ota/sdkconfig.ci.3
  components/esp_modem/test/target_ota/sdkconfig.defaults
Labels: modem

#469 fix(mdns): fix copy delegated host addr (IDFGH-11829)
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#465 fix(console): Fixed ifconfig command for PPP interface and IPv4 only
  components/console_cmd_ifconfig/.cz.yaml
  components/console_cmd_ifconfig/CHANGELOG.md
  components/console_cmd_ifconfig/README.md
  components/console_cmd_ifconfig/console_ifconfig.c
  components/console_cmd_ifconfig/idf_component.yml
Labels: console

#475 bump(mdns): 1.2.2 -> 1.2.3
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#476 fix(examples): Fixed esp_netif_next() warning with IDFv5.3
  examples/esp_netif/slip_custom_netif/components/slip_modem/library/slip_modem_netif.c
Labels: examples

#354 feat(modem): Add iperf test of PPP netif
  .github/workflows/modem__build-host-tests.yml
  components/esp_modem/test/target_iperf/CMakeLists.txt
  components/esp_modem/test/target_iperf/README.md
  components/esp_modem/test/target_iperf/main/CMakeLists.txt
  components/esp_modem/test/target_iperf/main/NetworkDCE.cpp
  components/esp_modem/test/target_iperf/main/cmd_pppclient.c
  components/esp_modem/test/target_iperf/main/network_dce.h
  components/esp_modem/test/target_iperf/main/pppd_iperf_main.c
  components/esp_modem/test/target_iperf/pytest_ppp_iperf.py
  components/esp_modem/test/target_iperf/sdkconfig.defaults
Labels: modem

#488 docs(common): Added package requirements.txt for esp-docs
  .github/workflows/publish-docs-component.yml
  docs/requirements.txt
Labels: documentation

#479 fix(mdns): Fix compile error when MDNS_PREDEF_NETIF_ETH is defined, but ETH_ENABLED is not (IDFGH-11868)
  components/mdns/mdns.c
Labels: Status: In Progress, mdns

#472 fix(modem): Fixed AT commands to copy strings to prevent overrides
  components/esp_modem/include/cxx_include/esp_modem_command_library_utils.hpp
  components/esp_modem/src/esp_modem_command_library.cpp
Labels: modem

#490 fix(mdns): Correction on 6d2c475 MDNS_PREDEF_NETIF_ETH fix
  components/mdns/mdns.c
Labels: mdns

#487 Incorrect documentation link
  components/esp_mqtt_cxx/README.md
Labels: mqtt

#484 fix(modem): Documented some tips on failing OTA
  docs/esp_modem/en/README.rst
Labels: modem

#492 bump(mqtt_cxx): 0.2.0 -> 0.3.0
  components/esp_mqtt_cxx/.cz.yaml
  components/esp_mqtt_cxx/CHANGELOG.md
  components/esp_mqtt_cxx/idf_component.yml
Labels: mqtt

#466 bump(websocket): 1.2.1 -> 1.2.2
  components/esp_websocket_client/.cz.yaml
  components/esp_websocket_client/CHANGELOG.md
  components/esp_websocket_client/idf_component.yml
Labels: websocket

#491 fix(modem): Added C-API to configure APN
  components/esp_modem/include/esp_modem_c_api_types.h
  components/esp_modem/src/esp_modem_c_api.cpp
  components/esp_modem/test/README.md
  components/esp_modem/test/target_ota/components/manual_ota/manual_ota.cpp
  components/esp_modem/test/target_ota/components/manual_ota/manual_ota.hpp
Labels: modem

#494 bump(modem): 1.0.5 -> 1.1.0
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/idf_component.yml
Labels: modem

#496 docs(websocket): Added README for websocket host example (IDF-9115)
  components/esp_websocket_client/examples/linux/README.md
Labels: websocket
