Repository espressif/esp-protocols, pull requests merged in 2024-06, with the labels that each got.

#559 feat(mdns): add check of instance when handling PTR query (IDFGH-12701)
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#574 fix(mdns): remove same protocol services with different instances
  components/mdns/mdns.c
  components/mdns/private_include/mdns_private.h
Labels: mdns

#587 fix(mdns): Fix of mdns afl tests
  components/mdns/tests/test_afl_fuzz_host/sdkconfig.h
Labels: mdns

#582 [wifi-remote]: Fix server race when receiving command and posting events
  components/esp_wifi_remote/.cz.yaml
  components/esp_wifi_remote/CHANGELOG.md
  components/esp_wifi_remote/CMakeLists.txt
  components/esp_wifi_remote/eppp/wifi_remote_rpc_impl.hpp
  components/esp_wifi_remote/eppp/wifi_remote_rpc_params.h
  components/esp_wifi_remote/eppp/wifi_remote_rpc_server.cpp
  components/esp_wifi_remote/idf_component.yml
Labels: wifi_remote

#588 bump(mdns): 1.3.1 -> 1.3.2
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#591 [modem]: Fixes clang-tidy warnings
  .github/workflows/run-host-tests.yml
  components/esp_modem/include/cxx_include/esp_modem_cmux.hpp
  components/esp_modem/include/cxx_include/esp_modem_netif.hpp
  components/esp_modem/src/esp_modem_cmux.cpp
  components/esp_modem/src/esp_modem_netif.cpp
  components/esp_modem/src/esp_modem_netif_linux.cpp
  components/esp_modem/src/esp_modem_term_fs.cpp
  components/esp_modem/src/esp_modem_vfs_uart_creator.cpp
Labels: modem

#513 feat(console): wifi commands updates
  components/console_cmd_wifi/.cz.yaml
  components/console_cmd_wifi/CHANGELOG.md
  components/console_cmd_wifi/CMakeLists.txt
  components/console_cmd_wifi/Kconfig.projbuild
  components/console_cmd_wifi/README.md
  components/console_cmd_wifi/console_wifi.c
  components/console_cmd_wifi/idf_component.yml
  components/console_cmd_wifi/include/console_wifi.h
Labels: console

#596 feat(wifi_remote): Make wifi_remote depend on esp_hosted (IDFGH-13027)
  components/esp_wifi_remote/idf_component.yml
Labels: Status: Opened, wifi_remote

#599 feat(wifi_remote): add esp_wifi_internal_tx_by_ref
  components/esp_wifi_remote/esp_wifi_remote_net.c
Labels: wifi_remote

#511 [eppp]: Add support for SDIO transport
  components/eppp_link/CMakeLists.txt
  components/eppp_link/Kconfig
  components/eppp_link/README.md
  components/eppp_link/eppp_link.c
  components/eppp_link/eppp_sdio.h
  components/eppp_link/eppp_sdio_host.c
  components/eppp_link/eppp_sdio_slave.c
  components/eppp_link/examples/host/main/app_main.c
  components/eppp_link/examples/slave/main/eppp_slave.c
  components/eppp_link/idf_component.yml
  components/eppp_link/include/eppp_link.h
Labels: eppp

#556 feat(esp_modem): example add esp32p4 usb support (IDFGH-12673)
  components/esp_modem/examples/modem_console/README.md
  components/esp_modem/examples/modem_console/main/Kconfig.projbuild
  components/esp_modem/examples/modem_console/main/idf_component.yml
  components/esp_modem/examples/modem_console/main/modem_console_main.cpp
  components/esp_modem/examples/modem_console/sdkconfig.ci.usb_p4
  components/esp_modem/examples/pppos_client/README.md
  components/esp_modem/examples/pppos_client/main/Kconfig.projbuild
  components/esp_modem/examples/pppos_client/main/idf_component.yml
  components/esp_modem/examples/pppos_client/main/pppos_client_main.c
  components/esp_modem/examples/pppos_client/sdkconfig.ci.usb_p4
  components/esp_modem/include/esp_modem_c_api_types.h
Labels: Status: Opened, modem

#602 bump(eppp): 0.1.1 -> 0.2.0
  components/eppp_link/.cz.yaml
  components/eppp_link/CHANGELOG.md
  components/eppp_link/eppp_sdio_host.c
  components/eppp_link/eppp_sdio_slave.c
  components/eppp_link/idf_component.yml
Labels: eppp

#601 bump(wifi_remote): 0.2.3 -> 0.3.0
  components/esp_wifi_remote/.cz.yaml
  components/esp_wifi_remote/CHANGELOG.md
  components/esp_wifi_remote/idf_component.yml
Labels: wifi_remote
