Repository espressif/esp-protocols, pull requests merged in 2024-08, with the labels that each got.

#584 feat(console): Added command getaddrinfo, set/get dnsserver to console_cmd_ping
  components/console_cmd_ping/.cz.yaml
  components/console_cmd_ping/CHANGELOG.md
  components/console_cmd_ping/CMakeLists.txt
  components/console_cmd_ping/Kconfig.projbuild
  components/console_cmd_ping/README.md
  components/console_cmd_ping/console_getaddrinfo.c
  components/console_cmd_ping/console_getsetdnsserver.c
  components/console_cmd_ping/console_ping.c
  components/console_cmd_ping/console_ping.h
  components/console_cmd_ping/idf_component.yml
Labels: console

#617 [mdns]: Add linux console functional tests
  .github/workflows/mdns__host-tests.yml
  common_components/linux_compat/esp_ringbuf/CMakeLists.txt
  common_components/linux_compat/freertos/freertos_linux.c
  common_components/linux_compat/freertos/include/freertos/list.h
  common_components/linux_compat/freertos/include/freertos/task.h
  components/mdns/CMakeLists.txt
  components/mdns/mdns.c
  components/mdns/mdns_console.c
  components/mdns/tests/host_test/CMakeLists.txt
  components/mdns/tests/host_test/components/esp_netif_linux/CMakeLists.txt
  components/mdns/tests/host_test/components/esp_netif_linux/esp_netif_linux.c
  components/mdns/tests/host_test/dnsfixture.py
  components/mdns/tests/host_test/main/CMakeLists.txt
  components/mdns/tests/host_test/main/Kconfig.projbuild
  components/mdns/tests/host_test/main/idf_component.yml
  components/mdns/tests/host_test/main/main.c
  components/mdns/tests/host_test/pytest_mdns.py
  components/mdns/tests/host_test/sdkconfig.ci.app
  components/mdns/tests/host_test/sdkconfig.ci.console
  components/mdns/tests/host_test/sdkconfig.ci.target
  components/mdns/tests/host_test/sdkconfig.defaults
Labels: mdns

#618 [mdns]: More console tests
  components/mdns/mdns.c
  components/mdns/mdns_console.c
  components/mdns/tests/host_test/components/esp_netif_linux/esp_netif_linux.c
  components/mdns/tests/host_test/dnsfixture.py
  components/mdns/tests/host_test/pytest_mdns.py
Labels: mdns

#632 [CI]: Fixes with recent IDF updates
  .github/workflows/examples_build-host-test.yml
  components/esp_websocket_client/examples/target/main/CMakeLists.txt
  components/esp_websocket_client/examples/target/main/certs/ca_certificate_public_domain.pem
  components/esp_websocket_client/examples/target/main/certs/server/server_cert.pem
  components/esp_websocket_client/examples/target/main/certs/server/server_key.pem
  components/esp_websocket_client/examples/target/main/websocket_example.c
  components/esp_websocket_client/examples/target/pytest_websocket.py
Labels: websocket, examples

#619 [mdns]: Add unit test for services
  components/mdns/mdns.c
  components/mdns/tests/unit_test/main/test_mdns.c
Labels: mdns

#630 feat(websocket): propagate esp_tls stack error and cert verify flags
  components/esp_websocket_client/esp_websocket_client.c
Labels: websocket

#633 Feat/websocket: begin end thread events (IDFGH-13507)
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/examples/linux/main/websocket_linux.c
  components/esp_websocket_client/examples/target/main/websocket_example.c
  components/esp_websocket_client/include/esp_websocket_client.h
  docs/esp_websocket_client/en/index.rst
Labels: Status: Opened, websocket

#638 [mdns]: Bump: 1.3.2 -> 1.4.0
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns
