Repository espressif/esp-protocols, pull requests merged in 2024-05, with the labels that each got.

#560 Fix CI build per IDFv5.3
  .github/workflows/console_cmd_ifconfig__build.yml
  components/eppp_link/examples/host/CMakeLists.txt
  components/eppp_link/examples/host/main/idf_component.yml
  components/esp_modem/.build-test-rules.yml
  components/esp_modem/test/target_iperf/CMakeLists.txt
  components/esp_modem/test/target_iperf/main/idf_component.yml
  components/esp_modem/test/target_iperf/main/pppd_iperf_main.c
Labels: console, eppp

#555 feat(websocket): adding support for `keep_alive_enable` when using WSS transport (IDFGH-11457)
  components/esp_websocket_client/esp_websocket_client.c
Labels: websocket

#566 [eppp]: Force the `PPP` LWIP opts which are OFF by default
  components/eppp_link/.cz.yaml
  components/eppp_link/CHANGELOG.md
  components/eppp_link/Kconfig
  components/eppp_link/idf_component.yml
Labels: eppp

#568 [wifi-remote]: Updated eppp dependency and more WiFi functions
  components/esp_wifi_remote/.cz.yaml
  components/esp_wifi_remote/CHANGELOG.md
  components/esp_wifi_remote/eppp/wifi_remote_rpc_client.cpp
  components/esp_wifi_remote/eppp/wifi_remote_rpc_impl.hpp
  components/esp_wifi_remote/eppp/wifi_remote_rpc_server.cpp
  components/esp_wifi_remote/examples/mqtt/main/idf_component.yml
  components/esp_wifi_remote/examples/server/main/idf_component.yml
  components/esp_wifi_remote/idf_component.yml
Labels: wifi_remote

#567 ci(common): added idf release-v5.2, release-v5.3 targets(IDF-9875)
  .github/workflows/asio__build-target-test.yml
  .github/workflows/console_cmd_ifconfig__build.yml
  .github/workflows/console_cmd_ping__build.yml
  .github/workflows/console_cmd_wifi__build.yml
  .github/workflows/console_simple_init__build.yml
  .github/workflows/examples_build-host-test.yml
  .github/workflows/mdns__build-target-test.yml
  .github/workflows/modem__build-host-tests.yml
  .github/workflows/mqtt_cxx__build.yml
  .github/workflows/tls_cxx__build.yml
  .github/workflows/websocket__build-target-test.yml
Labels: modem, mdns, mqtt, asio, websocket, examples, console, eppp, wifi_remote, tls_cxx

#569 fix(mdns): free txt value len (IDFGH-12817)
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#571 bump(mdns): 1.3.0 -> 1.3.1
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#550 fix(websocket): Fix locking issues of `esp_websocket_client_send_with_exact_opcode` IDF-9380
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/examples/linux/main/main.c
  components/esp_websocket_client/examples/target/main/websocket_example.c
  components/esp_websocket_client/examples/target/pytest_websocket.py
  components/esp_websocket_client/examples/target/sdkconfig.ci.dynamic_buffer
Labels: websocket

#575 fix(wifi_remote): Do not restrict EPPP config to RSA keys only
  .github/workflows/wifi_remote__build.yml
  components/esp_wifi_remote/eppp/wifi_remote_rpc_client.cpp
  components/esp_wifi_remote/eppp/wifi_remote_rpc_server.cpp
  components/esp_wifi_remote/examples/test_certs/generate_test_certs.sh
Labels: wifi_remote
