Repository espressif/esp-protocols, pull requests merged in 2024-12, with the labels that each got.

#703 [modem]: CMUX: ignore URC before entering CMUX
  .github/workflows/modem__target-test.yml
  components/esp_modem/src/esp_modem_cmux.cpp
  components/esp_modem/test/target/pytest_pppd.py
Labels: modem

#700 [modem]: Add support for pausing netif
  components/esp_modem/Kconfig
  components/esp_modem/examples/modem_console/main/modem_console_main.cpp
  components/esp_modem/examples/pppos_client/main/Kconfig.projbuild
  components/esp_modem/examples/pppos_client/main/pppos_client_main.c
  components/esp_modem/examples/pppos_client/pytest_pppos_client.py
  components/esp_modem/examples/pppos_client/sdkconfig.ci.sim800_c3
  components/esp_modem/examples/simple_cmux_client/sdkconfig.ci.sim800_cmux
  components/esp_modem/include/cxx_include/esp_modem_dce.hpp
  components/esp_modem/include/cxx_include/esp_modem_dte.hpp
  components/esp_modem/include/cxx_include/esp_modem_netif.hpp
  components/esp_modem/include/esp_modem_c_api_types.h
  components/esp_modem/src/esp_modem_c_api.cpp
  components/esp_modem/src/esp_modem_dce.cpp
  components/esp_modem/src/esp_modem_netif.cpp
  components/esp_modem/src/esp_modem_uart.cpp
Labels: modem

#709 [modem]: bump 1.2.1 -> 1.3.0
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/idf_component.yml
Labels: modem

#707 [sock-utils]: Add support for gethostname()
  components/sock_utils/CMakeLists.txt
  components/sock_utils/README.md
  components/sock_utils/include/gethostname.h
  components/sock_utils/src/gethostname.c
  components/sock_utils/test/host/main/test_sock_utils.cpp
Labels: sock_utils

#714 Chore(websocket) tidy up two small issues
  components/esp_websocket_client/esp_websocket_client.c
Labels: websocket

#713 [sock-utils]: Bump 0.1 -> 0.2
  components/sock_utils/.cz.yaml
  components/sock_utils/CHANGELOG.md
  components/sock_utils/CMakeLists.txt
  components/sock_utils/README.md
  components/sock_utils/idf_component.yml
  components/sock_utils/include/netdb_macros.h
Labels: sock_utils

#719 [mosq]: Bump: v2.0.20 -> 2.0.20~1
  .github/workflows/mosq__build.yml
  components/mosquitto/.cz.yaml
  components/mosquitto/CHANGELOG.md
  components/mosquitto/CMakeLists.txt
  components/mosquitto/api.md
  components/mosquitto/idf_component.yml
  components/mosquitto/port/ifaddrs.c
  components/mosquitto/port/priv_include/config.h
  components/mosquitto/port/priv_include/ifaddrs.h
  components/mosquitto/port/priv_include/poll.h
  components/mosquitto/port/sysconf.c
Labels: mosquitto

#720 [sock-utils] Fix potential macro conflict
  components/sock_utils/.cz.yaml
  components/sock_utils/CHANGELOG.md
  components/sock_utils/idf_component.yml
  components/sock_utils/include/netdb_macros.h
Labels: sock_utils
