Repository espressif/esp-protocols, pull requests merged in 2024-03, with the labels that each got.

#517 Fix remaining format warnings
  .github/workflows/mdns__build-target-test.yml
  components/esp_modem/CMakeLists.txt
  components/esp_modem/src/esp_modem_cmux.cpp
  components/mdns/.build-test-rules.yml
  components/mdns/mdns.c
  examples/esp_netif/slip_custom_netif/components/slip_modem/CMakeLists.txt
  examples/esp_netif/slip_custom_netif/components/slip_modem/library/slip_modem.c
  examples/esp_netif/slip_custom_netif/main/CMakeLists.txt
  examples/esp_netif/slip_custom_netif/main/slip_client_main.c
  examples/mqtt/main/CMakeLists.txt
  examples/mqtt/main/app_main.cpp
Labels: modem, mdns, examples

#515 [ws-client]: Fix usage of the dynamic buffer
  components/esp_websocket_client/esp_websocket_client.c
Labels: websocket

#519 bump(mdns): 1.2.4 -> 1.2.5
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#521 fix(websocket): Skip warn on zero timeout and auto reconnect is disabled (IDFGH-12288)
  components/esp_websocket_client/esp_websocket_client.c
Labels: Status: Opened, websocket

#526 fix(mdns): fix mdns answer append while host is invalid
  components/mdns/mdns.c
Labels: mdns

#454 feat(modem): host test support of the latest ESP-IDF release (IDF-7828)
  .github/workflows/asio__build-target-test.yml
  .github/workflows/console_cmd_ifconfig__build.yml
  .github/workflows/console_cmd_ping__build.yml
  .github/workflows/console_cmd_wifi__build.yml
  .github/workflows/console_simple_init__build.yml
  .github/workflows/examples_build-host-test.yml
  .github/workflows/mdns__build-target-test.yml
  .github/workflows/mdns__host-tests.yml
  .github/workflows/modem__build-host-tests.yml
  .github/workflows/modem__target-test.yml
  .github/workflows/mqtt_cxx__build.yml
  .github/workflows/pre_commit_check.yml
  .github/workflows/publish-docs-component.yml
  .github/workflows/run-host-tests.yml
  .github/workflows/websocket__build-host-tests.yml
  .github/workflows/websocket__build-target-test.yml
  components/esp_modem/examples/linux_modem/main/modem_main.cpp
  components/esp_modem/test/host_test/env.sh
  components/esp_modem/test/host_test/main/CMakeLists.txt
  components/esp_modem/test/host_test/main/idf_component.yml
  components/esp_modem/test/host_test/main/test_modem.cpp
Labels: modem, mdns, websocket

#529 fix(mdns): add lock for some common apis (IDFGH-12338)
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#531 [esp_modem]: Accept some PRs
  components/esp_modem/examples/pppos_client/main/Kconfig.projbuild
  components/esp_modem/examples/simple_cmux_client/components/SIM7070_gnss/SIM7070_gnss.cpp
  components/esp_modem/examples/simple_cmux_client/components/SIM7070_gnss/SIM7070_gnss.hpp
  components/esp_modem/examples/simple_cmux_client/components/SIM7070_gnss/sim70xx_gps.h
Labels: modem

#523 fix(websocket): fix esp_event dependency management (IDFGH-12301) (IDFGH-12302)
  components/esp_websocket_client/CMakeLists.txt
Labels: Status: Reviewing, Status: Done, websocket, Resolution: Duplicate

#533 fix(mdns): Schedule all queued Tx packets from timer task
  components/mdns/mdns.c
Labels: mdns

#534 fix(mdns): updated the document to clarify service advertisment prerequisite (IDFGH-6982)
  docs/mdns/en/index.rst
Labels: documentation

#541 fix(websocket): fix of websocket host build
  components/esp_websocket_client/examples/linux/CMakeLists.txt
  components/esp_websocket_client/examples/linux/main/idf_component.yml
Labels: websocket

#535 bump(websocket): 1.2.2 -> 1.2.3
  components/esp_websocket_client/.cz.yaml
  components/esp_websocket_client/CHANGELOG.md
  components/esp_websocket_client/idf_component.yml
Labels: websocket
