Repository espressif/esp-protocols, pull requests merged in 2024-07, with the labels that each got.

#598 bump(mqtt_cxx): 0.3.0 -> 0.4.0
  components/esp_mqtt_cxx/.cz.yaml
  components/esp_mqtt_cxx/CHANGELOG.md
  components/esp_mqtt_cxx/idf_component.yml
Labels: mqtt

#594 feat(esp_websocket_client): allow updating reconnect timeout for retry backoffs (IDFGH-13016)
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/include/esp_websocket_client.h
Labels: Status: Opened, websocket

#583 feat(websocket_client): Add option to set and use cert_common_name in Websocket client (IDFGH-12926)
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/include/esp_websocket_client.h
Labels: Status: Opened, websocket

#608 feat(websocket): adding support for `if_name` when using WSS transport
  components/esp_websocket_client/esp_websocket_client.c
Labels: websocket

#573 feat(websocket): allow using external TCP transport handle (IDFGH-12825)
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/include/esp_websocket_client.h
Labels: Status: Opened, websocket

#605 CI: fix
  .github/workflows/modem__target-test.yml
  common_components/linux_compat/freertos/include/freertos/FreeRTOS.h
  components/esp_websocket_client/examples/linux/CMakeLists.txt
  components/esp_websocket_client/examples/linux/main/CMakeLists.txt
  components/esp_websocket_client/examples/linux/main/websocket_linux.c
Labels: modem, websocket

#613 feat(mdns): check if the txt items is changed when browsing
  components/mdns/mdns.c
Labels: mdns
