Repository espressif/esp-protocols, pull requests merged in 2024-02, with the labels that each got.

#501 docs(common): Enhance documentation clarity in the examples directory
  examples/README.md
Labels: documentation

#414 fix(mdns): fix compiling issue when disabling IPv4 (IDFGH-11453)
  components/mdns/examples/query_advertise/main/mdns_example_main.c
  components/mdns/examples/query_advertise/pytest_mdns.py
  components/mdns/examples/query_advertise/sdkconfig.ci.eth_no_ipv4
  components/mdns/mdns.c
  components/mdns/mdns_console.c
  components/mdns/mdns_networking_lwip.c
  components/mdns/mdns_networking_socket.c
  components/mdns/private_include/mdns_private.h
  components/mdns/tests/host_test/components/esp_netif_linux/Kconfig
Labels: Status: Reviewing, mdns

#504 bump(mdns): 1.2.3 -> 1.2.4
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#495 fix(websocket): Continue waiting for TCP connection to be closed (IDFGH-11965)
  components/esp_websocket_client/esp_websocket_client.c
Labels: Status: Opened, websocket

#462 New component ESP-PPP-Link
  .github/workflows/eppp__build.yml
  .github/workflows/publish-docs-component.yml
  .pre-commit-config.yaml
  README.md
  components/eppp_link/.cz.yaml
  components/eppp_link/CHANGELOG.md
  components/eppp_link/CMakeLists.txt
  components/eppp_link/Kconfig
  components/eppp_link/LICENSE
  components/eppp_link/README.md
  components/eppp_link/eppp_link.c
  components/eppp_link/examples/host/CMakeLists.txt
  components/eppp_link/examples/host/README.md
  components/eppp_link/examples/host/main/CMakeLists.txt
  components/eppp_link/examples/host/main/Kconfig.projbuild
  components/eppp_link/examples/host/main/app_main.c
  components/eppp_link/examples/host/main/idf_component.yml
  components/eppp_link/examples/host/main/register_iperf.c
  components/eppp_link/examples/host/sdkconfig.ci.spi
  components/eppp_link/examples/host/sdkconfig.ci.uart
  components/eppp_link/examples/host/sdkconfig.defaults
  components/eppp_link/examples/slave/CMakeLists.txt
  components/eppp_link/examples/slave/README.md
  components/eppp_link/examples/slave/main/CMakeLists.txt
  components/eppp_link/examples/slave/main/Kconfig.projbuild
  components/eppp_link/examples/slave/main/eppp_slave.c
  components/eppp_link/examples/slave/main/idf_component.yml
  components/eppp_link/examples/slave/sdkconfig.ci.spi
  components/eppp_link/examples/slave/sdkconfig.ci.uart
  components/eppp_link/examples/slave/sdkconfig.defaults
  components/eppp_link/idf_component.yml
  components/eppp_link/include/eppp_link.h
  components/eppp_link/test/test_app/CMakeLists.txt
  components/eppp_link/test/test_app/README.md
  components/eppp_link/test/test_app/main/CMakeLists.txt
  components/eppp_link/test/test_app/main/app_main.c
  components/eppp_link/test/test_app/main/idf_component.yml
  components/eppp_link/test/test_app/sdkconfig.defaults
Labels: eppp
