Repository espressif/esp-protocols, pull requests merged in 2024-09, with the labels that each got.

#642 [mdns]: Fix recent issues on v1.4 reported by Coverity
  components/mdns/mdns.c
Labels: mdns

#649 [modem]: Add ability to change ESP_MODEM_C_API_STR_MAX from Kconfig (IDFGH-13668)
  components/esp_modem/Kconfig
  components/esp_modem/examples/pppos_client/main/custom_module.hpp
  components/esp_modem/src/esp_modem_c_api.cpp
  docs/esp_modem/en/api_docs.rst
Labels: Status: Opened, modem

#620 [modem]: Add support for handling URC
  components/esp_modem/Kconfig
  components/esp_modem/include/cxx_include/esp_modem_dce.hpp
  components/esp_modem/include/cxx_include/esp_modem_dte.hpp
  components/esp_modem/src/esp_modem_dte.cpp
  components/esp_modem/test/target/main/CMakeLists.txt
  components/esp_modem/test/target/main/pppd_test.cpp
Labels: modem

#653 [modem]: Fix esp_modem_at_raw() description in docs (C-API)
  components/esp_modem/include/generate/esp_modem_command_declare.inc
Labels: modem

#655 [modem]: Update target test builds to use external Catch2
  components/esp_modem/test/target/main/CMakeLists.txt
  components/esp_modem/test/target/main/idf_component.yml
  components/esp_modem/test/target/main/pppd_test.cpp
  components/esp_modem/test/target/sdkconfig.ci.pppd_chap_auth
  components/esp_modem/test/target/sdkconfig.defaults
Labels: modem

#660 [wifi_remote]: Make flat version structure across IDF releases
  .github/workflows/wifi_remote__build.yml
  components/esp_wifi_remote/CMakeLists.txt
  components/esp_wifi_remote/Kconfig
  components/esp_wifi_remote/examples/mqtt/sdkconfig.defaults
  components/esp_wifi_remote/idf_component.yml
  components/esp_wifi_remote/idf_v5.3/Kconfig.slave_select.in
  components/esp_wifi_remote/idf_v5.3/Kconfig.soc_wifi_caps.in
  components/esp_wifi_remote/idf_v5.3/Kconfig.wifi.in
  components/esp_wifi_remote/idf_v5.3/esp_wifi_remote_weak.c
  components/esp_wifi_remote/idf_v5.3/esp_wifi_with_remote.c
  components/esp_wifi_remote/idf_v5.3/include/esp_wifi_remote_api.h
  components/esp_wifi_remote/idf_v5.3/include/esp_wifi_types_native.h
  components/esp_wifi_remote/idf_v5.3/wifi_apps/roaming_app/src/Kconfig.roaming
  components/esp_wifi_remote/idf_v5.4/Kconfig.slave_select.in
  components/esp_wifi_remote/idf_v5.4/Kconfig.soc_wifi_caps.in
  components/esp_wifi_remote/idf_v5.4/Kconfig.wifi.in
  components/esp_wifi_remote/idf_v5.4/esp_wifi_remote_weak.c
  components/esp_wifi_remote/idf_v5.4/esp_wifi_with_remote.c
  components/esp_wifi_remote/idf_v5.4/include/esp_wifi_remote_api.h
  components/esp_wifi_remote/idf_v5.4/include/esp_wifi_types_native.h
  components/esp_wifi_remote/idf_v5.4/wifi_apps/roaming_app/src/Kconfig.roaming
  components/esp_wifi_remote/scripts/generate_and_check.py
  components/esp_wifi_remote/scripts/generate_slave_configs.py
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/CMakeLists.txt
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/idf_v5.3/esp_hosted_mock.c
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/idf_v5.3/include/esp_hosted_mock.h
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/idf_v5.4/esp_hosted_mock.c
  components/esp_wifi_remote/test/smoke_test/components/esp_hosted/idf_v5.4/include/esp_hosted_mock.h
  components/esp_wifi_remote/test/smoke_test/main/CMakeLists.txt
  components/esp_wifi_remote/test/smoke_test/main/idf_v5.3/all_wifi_calls.c
  components/esp_wifi_remote/test/smoke_test/main/idf_v5.3/all_wifi_remote_calls.c
  components/esp_wifi_remote/test/smoke_test/main/idf_v5.4/all_wifi_calls.c
  components/esp_wifi_remote/test/smoke_test/main/idf_v5.4/all_wifi_remote_calls.c
  components/esp_wifi_remote/test/smoke_test/main/smoke_test.c
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32c2
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32c3
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32c6
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32s2
  components/esp_wifi_remote/test/smoke_test/sdkconfig.ci.slave_esp32s3
  components/esp_wifi_remote/test/smoke_test/sdkconfig.defaults
Labels: wifi_remote

#643 [wifi_remote]: Make esp_hosted default RPC library
  ci/build_apps.py
  components/esp_wifi_remote/Kconfig.rpc.in
  components/esp_wifi_remote/examples/server/sdkconfig.defaults
Labels: wifi_remote

#663 [wifi_remote]: Bump 0.3.0 -> 0.4.0
  components/esp_wifi_remote/.cz.yaml
  components/esp_wifi_remote/CHANGELOG.md
  components/esp_wifi_remote/idf_component.yml
Labels: wifi_remote
