Repository espressif/esp-protocols, pull requests merged in 2025-02, with the labels that each got.

#760 feat(websocket): add unregister event to websocket client
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/examples/target/main/websocket_example.c
  components/esp_websocket_client/include/esp_websocket_client.h
Labels: websocket

#764 [mdns]: Allow allocate memory with configured caps
  .github/workflows/mdns__host-tests.yml
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/CMakeLists.txt
  components/mdns/Kconfig
  components/mdns/idf_component.yml
  components/mdns/mdns.c
  components/mdns/mdns_console.c
  components/mdns/mdns_mem_caps.c
  components/mdns/mdns_networking_lwip.c
  components/mdns/mdns_networking_socket.c
  components/mdns/mem_prefix_script.py
  components/mdns/private_include/mdns_mem_caps.h
  components/mdns/private_include/mdns_private.h
  components/mdns/tests/test_afl_fuzz_host/esp32_mock.c
  components/mdns/tests/test_afl_fuzz_host/esp32_mock.h
Labels: mdns

#770 [lws]: Adds missing license info
  components/libwebsockets/LICENSE.txt
Labels: lws

#762 [examples]: Test the SLIP netif example on target as well
  .github/workflows/examples_build-host-test.yml
  examples/esp_netif/slip_custom_netif/pytest_slip.py
  examples/esp_netif/slip_custom_netif/sdkconfig.ci
  examples/esp_netif/slip_custom_netif/sdkconfig.defaults
Labels: examples

#768 fix(modem): handle nullptr in DTE constructors to prevent invalid access (IDFGH-14688)
  components/esp_modem/src/esp_modem_dte.cpp
Labels: Status: Opened, modem
