Repository espressif/esp-protocols, pull requests merged in 2025-06, with the labels that each got.

#812 feat(eppp): Add support for TUN interface
  .github/workflows/eppp__build.yml
  components/eppp_link/.cz.yaml
  components/eppp_link/CHANGELOG.md
  components/eppp_link/CMakeLists.txt
  components/eppp_link/Kconfig
  components/eppp_link/README.md
  components/eppp_link/eppp_eth.c
  components/eppp_link/eppp_link.c
  components/eppp_link/eppp_netif_tun.c
  components/eppp_link/eppp_sdio.c
  components/eppp_link/eppp_sdio_slave.c
  components/eppp_link/eppp_spi.c
  components/eppp_link/eppp_transport.h
  components/eppp_link/eppp_uart.c
  components/eppp_link/examples/host/main/Kconfig.projbuild
  components/eppp_link/examples/host/main/app_main.c
  components/eppp_link/examples/slave/main/Kconfig.projbuild
  components/eppp_link/examples/slave/main/eppp_slave.c
  components/eppp_link/idf_component.yml
  components/eppp_link/include/eppp_link.h
  components/eppp_link/include/eppp_transport_eth.h
  components/eppp_link/include/eppp_transport_sdio.h
  components/eppp_link/include/eppp_transport_spi.h
  components/eppp_link/include/eppp_transport_uart.h
Labels: eppp

#823 [eppp]: Fix NETIF_PPP_STATUS link issue if PPP disabled in lwip
  components/eppp_link/.cz.yaml
  components/eppp_link/CHANGELOG.md
  components/eppp_link/eppp_link.c
  components/eppp_link/idf_component.yml
Labels: eppp

#824 [mdns]: Fix host tests by freezing idf-build-apps to 2.10
  .github/workflows/mdns__host-tests.yml
Labels: mdns

#825 [modem]: Fix autodetect to support ACFC mode in PPP frames
  components/esp_modem/src/esp_modem_dce.cpp
  components/esp_modem/src/esp_modem_dte.cpp
Labels: modem

#830 [dns]: Fix http event handler to accept default case
  components/esp_dns/esp_dns_doh.c
Labels: dns

#821 fix(modem): Consume buffer after handled URC
  components/esp_modem/src/esp_modem_dte.cpp
Labels: modem

#829 [modem]: Fix get_network_registration_state() to accept two params
  components/esp_modem/src/esp_modem_command_library.cpp
Labels: modem

#752 feat(websocket): add ability to reconnect after close (IDFGH-15455)
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/include/esp_websocket_client.h
Labels: Status: Opened, websocket
