Repository espressif/esp-protocols, pull requests merged in 2025-03, with the labels that each got.

#773 [mdns]: Bump 1.7.0 -> 1.8.0
  .github/workflows/clang-tidy.yml
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/CMakeLists.txt
  components/mdns/examples/query_advertise/main/mdns_example_main.c
  components/mdns/idf_component.yml
  components/mdns/include/mdns.h
  components/mdns/tests/host_test/components/esp_netif_linux/esp_netif_linux.c
  components/mdns/tests/host_test/main/main.c
  components/mdns/tests/test_afl_fuzz_host/test.c
  components/mdns/tests/test_apps/main/main.c
  components/mdns/tests/unit_test/main/test_mdns.c
Labels: mdns

#774 ci(common): Remove deprecated CI runners on ubuntu-20.04
  .github/workflows/eppp__build.yml
  .github/workflows/mosq__build.yml
  .github/workflows/tls_cxx__build.yml
Labels: mosquitto, tls_cxx, eppp

#775 Add config to enable SYS on mosquito and bump version
  components/mosquitto/.cz.yaml
  components/mosquitto/CHANGELOG.md
  components/mosquitto/CMakeLists.txt
  components/mosquitto/Kconfig
  components/mosquitto/idf_component.yml
  components/mosquitto/port/config.c
  components/mosquitto/port/mosq_time.c
  components/mosquitto/port/priv_include/config.h
Labels: mosquitto

#780 [mdns]: Fix potential task delete race
  common_components/linux_compat/freertos/freertos_linux.c
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
  components/mdns/mdns.c
Labels: mdns

#785 [mosq]: Fix pytest to use latest embedded packages
  .github/workflows/mosq__build.yml
Labels: mosquitto

#784 [mdns]: Fix parsing incorrect txt records
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
  components/mdns/mdns.c
Labels: mdns

#786 feat(module): add support for sequans GM02S modem (DPTechnics) (IDFGH-14891)
  components/esp_modem/include/cxx17_include/esp_modem_command_library_17.hpp
  components/esp_modem/include/cxx_include/esp_modem_api.hpp
  components/esp_modem/include/cxx_include/esp_modem_dce_factory.hpp
  components/esp_modem/include/cxx_include/esp_modem_dce_module.hpp
  components/esp_modem/include/esp_modem_c_api_types.h
  components/esp_modem/include/esp_private/c_api_wrapper.hpp
  components/esp_modem/include/generate/esp_modem_command_declare.inc
  components/esp_modem/src/esp_modem_api.cpp
  components/esp_modem/src/esp_modem_c_api.cpp
  components/esp_modem/src/esp_modem_command_library.cpp
  components/esp_modem/src/esp_modem_modules.cpp
Labels: Status: Opened, modem

#790 [modem]: Fix cmux log message
  components/esp_modem/src/esp_modem_cmux.cpp
Labels: modem

#793 [modem]: Bump 1.3.0 -> 1.4.0
  components/esp_modem/.cz.yaml
  components/esp_modem/CHANGELOG.md
  components/esp_modem/idf_component.yml
Labels: modem
