Repository espressif/esp-protocols, pull requests merged in 2025-01, with the labels that each got.

#726 feat(mdns): support zero item when update subtype (IDFGH-14369)
  components/mdns/include/mdns.h
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#728 [mdns]: bump: 1.4.2 -> 1.4.3
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#730 [mdns]: Fixed some minor bugs
  components/mdns/include/mdns.h
  components/mdns/mdns.c
  components/mdns/mdns_networking_lwip.c
  components/mdns/private_include/mdns_private.h
  components/mdns/tests/test_afl_fuzz_host/esp32_mock.c
Labels: mdns

#732 [mdns]: Fixes clang-tidy warnings
  components/mdns/mdns.c
Labels: mdns

#736 [mdns]: Bump 1.4.3 -> 1.5.0
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#721 [mosq]: Add IDF MQTT stress tests to mosquitto CI
  .github/workflows/mosq__build.yml
  components/mosquitto/README.md
  components/mosquitto/test/README.md
  components/mosquitto/test/replace_decorators.py
Labels: mosquitto

#740 [mdns]: fix incorrect memory free for mdns browse
  components/mdns/mdns.c
Labels: mdns

#742 [mdns]: Bump 1.5.0 -> 1.5.1
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
Labels: mdns

#743 [modem]: Fix deprecated CI download action
  .github/workflows/modem__target-test.yml
Labels: modem

#747 bump(asio): Publish 1.32.0 to component manager
  components/asio/idf_component.yml
Labels: asio

#694 fix(websocket): propagate error type (IDFGH-14518)
  components/esp_websocket_client/esp_websocket_client.c
Labels: Status: Opened, websocket

#744 fix(mdns): Fix _mdns_append_fqdn excessive stack usage (IDFGH-14506)
  components/mdns/mdns.c
Labels: Status: Opened, mdns

#748 [mdns]: Bump v1.5.2
  components/mdns/.cz.yaml
  components/mdns/CHANGELOG.md
  components/mdns/idf_component.yml
  components/mdns/mdns.c
Labels: mdns

#520 feat(websocket): Support DS peripheral for mutual TLS (IDFGH-12285)
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/include/esp_websocket_client.h
  docs/esp_websocket_client/en/index.rst
Labels: Status: Selected for Development, websocket

#751 fix(websocket): wait for task on destroy (IDFGH-14533)
  components/esp_websocket_client/esp_websocket_client.c
Labels: Status: Opened, websocket

#749 [websocket]: Fix pytest to verify client correctly
  components/esp_websocket_client/examples/target/pytest_websocket.py
Labels: websocket

#750 [websocket]: Bump 1.3.0 -> 1.4.0
  components/esp_websocket_client/.cz.yaml
  components/esp_websocket_client/CHANGELOG.md
  components/esp_websocket_client/idf_component.yml
Labels: websocket
