Repository espressif/esp-protocols, pull requests merged in 2025-07, with the labels that each got.

#833 [mosq]: Fix some recent bugs
  .github/workflows/mosq__build.yml
  components/mosquitto/.cz.yaml
  components/mosquitto/CHANGELOG.md
  components/mosquitto/Kconfig
  components/mosquitto/api.md
  components/mosquitto/examples/serverless_mqtt/main/wifi_connect.c
  components/mosquitto/idf_component.yml
  components/mosquitto/port/include/mosq_broker.h
  components/mosquitto/port/net__esp_tls.c
  components/mosquitto/port/priv_include/config.h
Labels: mosquitto

#814 [eppp-link]: Support for channels
  components/eppp_link/.cz.yaml
  components/eppp_link/CHANGELOG.md
  components/eppp_link/Kconfig
  components/eppp_link/README.md
  components/eppp_link/detailed_description.md
  components/eppp_link/eppp_link.c
  components/eppp_link/eppp_sdio.c
  components/eppp_link/eppp_sdio.h
  components/eppp_link/eppp_sdio_host.c
  components/eppp_link/eppp_sdio_slave.c
  components/eppp_link/eppp_spi.c
  components/eppp_link/eppp_transport.h
  components/eppp_link/eppp_uart.c
  components/eppp_link/examples/host/main/CMakeLists.txt
  components/eppp_link/examples/host/main/Kconfig.projbuild
  components/eppp_link/examples/host/main/app_main.c
  components/eppp_link/examples/host/main/channel_wifi_station.c
  components/eppp_link/examples/host/main/idf_component.yml
  components/eppp_link/examples/slave/main/CMakeLists.txt
  components/eppp_link/examples/slave/main/Kconfig.projbuild
  components/eppp_link/examples/slave/main/channel_wifi_station.c
  components/eppp_link/examples/slave/main/eppp_slave.c
  components/eppp_link/idf_component.yml
  components/eppp_link/include/eppp_link.h
Labels: eppp

#834 [modem]: Fix to use compatible iterator types for std::search in new gcc
  components/esp_modem/examples/modem_tcp_client/main/sock_commands_bg96.cpp
  components/esp_modem/examples/pppos_client/main/Kconfig.projbuild
  components/esp_modem/examples/simple_cmux_client/sdkconfig.ci.sim800_cmux
Labels: modem

#836 [modem]: Fix URC handler processing
  .github/workflows/modem__build-host-tests.yml
  .github/workflows/modem_sim__build.yml
  .gitignore
  .pre-commit-config.yaml
  common_components/modem_sim/export.sh
  common_components/modem_sim/install.sh
  common_components/modem_sim/pppd_cmd/CMakeLists.txt
  common_components/modem_sim/pppd_cmd/additional_commands.c
  common_components/modem_sim/pppd_cmd/include/at_custom_cmd.h
  common_components/modem_sim/sdkconfig.defaults
  components/esp_modem/src/esp_modem_dte.cpp
  components/esp_modem/test/target_urc/CMakeLists.txt
  components/esp_modem/test/target_urc/main/CMakeLists.txt
  components/esp_modem/test/target_urc/main/idf_component.yml
  components/esp_modem/test/target_urc/main/urc_test.cpp
  components/esp_modem/test/target_urc/sdkconfig.defaults
Labels: modem, modem_sim

#843 [examples]: Use another public broker for MQTT example
  examples/mqtt/main/Kconfig.projbuild
Labels: examples

#854 bump(websocket): 1.4.0 -> 1.5.0
  components/esp_websocket_client/.cz.yaml
  components/esp_websocket_client/CHANGELOG.md
  components/esp_websocket_client/idf_component.yml
Labels: websocket

#852 fix(examples): Address MQTT public endpoint availability
  .github/workflows/examples_build-host-test.yml
  .github/workflows/modem__target-test.yml
  .pre-commit-config.yaml
  ci/build_apps.py
  ci/config_env.sh
  components/esp_modem/examples/pppos_client/sdkconfig.ci.sim800_c3
  components/esp_modem/examples/pppos_client/sdkconfig.ci.usb_a7670_s2
  components/esp_modem/examples/simple_cmux_client/sdkconfig.ci.sim800_cmux
  examples/mqtt/sdkconfig.ci
Labels: modem, examples
