Repository espressif/esp-protocols, pull requests merged in 2025-04, with the labels that each got.

#609 [examples]: Make multi-netif example working with DNS_PER_DEFAULT_NETIF
  examples/esp_netif/multiple_netifs/README.md
  examples/esp_netif/multiple_netifs/main/Kconfig.projbuild
  examples/esp_netif/multiple_netifs/main/ethernet_connect.c
  examples/esp_netif/multiple_netifs/main/multi_netif_main.c
  examples/esp_netif/multiple_netifs/main/ppp_connect.c
  examples/esp_netif/multiple_netifs/main/wifi_connect.c
  examples/esp_netif/multiple_netifs/sdkconfig.defaults
Labels: examples

#685 [modem]: Use pre-generated command declarations to improve IDE navigation
  .github/workflows/modem__build-host-tests.yml
  components/esp_modem/CMakeLists.txt
  components/esp_modem/Kconfig
  components/esp_modem/command/include/cxx_include/esp_modem_command_library.hpp
  components/esp_modem/command/include/cxx_include/esp_modem_dce_generic.hpp
  components/esp_modem/command/include/cxx_include/esp_modem_dce_module.hpp
  components/esp_modem/command/include/esp_modem_api.h
  components/esp_modem/command/src/esp_modem_modules.cpp
  components/esp_modem/examples/modem_console/main/CMakeLists.txt
  components/esp_modem/examples/modem_console/main/command/my_module_dce.cpp
  components/esp_modem/examples/modem_console/main/command/my_module_dce.hpp
  components/esp_modem/examples/modem_console/main/generate/my_module_dce.cpp
  components/esp_modem/examples/modem_console/main/generate/my_module_dce.hpp
  components/esp_modem/examples/modem_console/main/modem_console_main.cpp
  components/esp_modem/examples/modem_tcp_client/main/CMakeLists.txt
  components/esp_modem/examples/modem_tcp_client/main/command/sock_commands.hpp
  components/esp_modem/examples/modem_tcp_client/main/command/sock_dce.cpp
  components/esp_modem/examples/modem_tcp_client/main/command/sock_dce.hpp
  components/esp_modem/examples/modem_tcp_client/main/generate/sock_commands.hpp
  components/esp_modem/examples/modem_tcp_client/main/generate/sock_dce.cpp
  components/esp_modem/examples/modem_tcp_client/main/generate/sock_dce.hpp
  components/esp_modem/examples/modem_tcp_client/main/generate/socket_commands.inc
  components/esp_modem/examples/modem_tcp_client/main/sock_commands.hpp
  components/esp_modem/examples/modem_tcp_client/main/socket_commands.inc
  components/esp_modem/examples/simple_cmux_client/components/SIM7070_gnss/CMakeLists.txt
  components/esp_modem/examples/simple_cmux_client/components/SIM7070_gnss/command/SIM7070_gnss.hpp
  components/esp_modem/examples/simple_cmux_client/components/SIM7070_gnss/generate/SIM7070_gnss.hpp
  components/esp_modem/examples/simple_cmux_client/main/simple_cmux_client_main.cpp
  components/esp_modem/generate/include/cxx_include/esp_modem_command_library.hpp
  components/esp_modem/generate/include/cxx_include/esp_modem_dce_generic.hpp
  components/esp_modem/generate/include/cxx_include/esp_modem_dce_module.hpp
  components/esp_modem/generate/include/esp_modem_api.h
  components/esp_modem/generate/include/esp_modem_command_declare.inc
  components/esp_modem/generate/include/esp_modem_command_declare_helper.inc
  components/esp_modem/generate/src/esp_modem_modules.cpp
  components/esp_modem/include/cxx_include/esp_modem_dce.hpp
  components/esp_modem/include/cxx_include/esp_modem_dce_template.hpp
  components/esp_modem/include/esp_modem_api.h
  components/esp_modem/include/generate/esp_modem_command_declare_helper.inc
  components/esp_modem/scripts/generate.sh
  docs/esp_modem/Doxyfile
  docs/esp_modem/en/api_docs.rst
  docs/esp_modem/en/cxx_api_docs.rst
  docs/esp_modem/generate/dce.h
  docs/esp_modem/generate/dce.hpp
  docs/esp_modem/generate/dce.rst
  docs/esp_modem/generate_docs
Labels: modem

#704 fix(websocket): release client-lock during WEBSOCKET_EVENT_DATA (IDFGH-14545)
  components/esp_websocket_client/esp_websocket_client.c
Labels: Status: Reviewing

#798 [lws]: Fix many file-not-found errors on clang-tidy job
  .github/workflows/clang-tidy.yml
Labels: lws

#781 feat(common): Add ESP DNS module with support for UDP, DoT, and DoH protocols
  .github/workflows/esp_dns__build.yml
  .github/workflows/publish-docs-component.yml
  .pre-commit-config.yaml
  README.md
  components/esp_dns/.cz.yaml
  components/esp_dns/CHANGELOG.md
  components/esp_dns/CMakeLists.txt
  components/esp_dns/LICENSE
  components/esp_dns/README.md
  components/esp_dns/esp_dns.c
  components/esp_dns/esp_dns_doh.c
  components/esp_dns/esp_dns_dot.c
  components/esp_dns/esp_dns_lwip.c
  components/esp_dns/esp_dns_priv.h
  components/esp_dns/esp_dns_tcp.c
  components/esp_dns/esp_dns_udp.c
  components/esp_dns/esp_dns_utils.c
  components/esp_dns/esp_dns_utils.h
  components/esp_dns/examples/esp_dns_basic/CMakeLists.txt
  components/esp_dns/examples/esp_dns_basic/README.md
  components/esp_dns/examples/esp_dns_basic/main/CMakeLists.txt
  components/esp_dns/examples/esp_dns_basic/main/cert_google_root.pem
  components/esp_dns/examples/esp_dns_basic/main/esp_dns_example.c
  components/esp_dns/examples/esp_dns_basic/main/idf_component.yml
  components/esp_dns/examples/esp_dns_basic/pytest_esp_dns.py
  components/esp_dns/examples/esp_dns_basic/sdkconfig.defaults
  components/esp_dns/idf_component.yml
  components/esp_dns/include/esp_dns.h
Labels: dns

#806 fix(lws): Remove clang tidy checks
  test_app/CMakeLists.txt
Labels: lws

#622 [eppp]: Support for transport via Ethernet (phy or emac)
  components/eppp_link/CMakeLists.txt
  components/eppp_link/Kconfig
  components/eppp_link/README.md
  components/eppp_link/eppp_eth.c
  components/eppp_link/eppp_link.c
  components/eppp_link/eppp_transport.h
  components/eppp_link/examples/host/sdkconfig.ci.eth
  components/eppp_link/examples/host/sdkconfig.ci.sdio
  components/eppp_link/examples/slave/sdkconfig.ci.eth
  components/eppp_link/examples/slave/sdkconfig.ci.sdio
  components/eppp_link/idf_component.yml
  components/eppp_link/include/eppp_link.h
Labels: eppp
