Repository espressif/esp-protocols, pull requests merged in 2025-09, with the labels that each got.

#876 fix: drop newlib from PRIV_REQUIRES
  components/mosquitto/CMakeLists.txt
  components/mosquitto/examples/broker/main/CMakeLists.txt
Labels: mosquitto

#880 [modem]: Fix recent CI issues
  components/esp_modem/examples/modem_console/main/console_helper.cpp
  components/esp_modem/examples/modem_console/main/modem_console_main.cpp
  components/esp_modem/test/target_ota/main/ota_test.cpp
Labels: modem

#875 [eppp]: Bump 1.0.1 -> 1.1.0
  components/eppp_link/.cz.yaml
  components/eppp_link/CHANGELOG.md
  components/eppp_link/idf_component.yml
Labels: eppp
